.quote {
  background: #e0f7fa;
  -moz-box-shadow: 0 0 0 10px #dfdfdf;
  -webkit-box-shadow: 0 0 0 10px #dfdfdf;
  box-shadow: 0px 0px 15px #dfdfdf;
  padding: 10px;
  font-size: 18px;
}

.list {
  background: rgba(240,244,195);
  padding: 12px;
}
