.quote {
  background: rgba(0, 188, 212, 0.2);
  -moz-box-shadow: 0 0 0 10px rgba(0, 188, 212, 0.2);
  -webkit-box-shadow: 0 0 0 10px rgba(0, 188, 212, 0.2);
  box-shadow: 0 0 0 10px rgba(0, 188, 212, 0.2);
}

.title {
  background: rgba(240,244,195);
  -moz-box-shadow: 0 0 0 10px rgba(240,244,195);
  -webkit-box-shadow: 0 0 0 10px rgba(240,244,195);
  box-shadow: 0 0 0 10px rgba(240,244,195);
}
