.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  border-radius: 0px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.front-lime {
  display: flex;
  background-color: #afb42b ;
  color: white;
  padding: 8px;
}

.back-lime {
  background-color: #dce775;
  transform: rotateY(180deg);
  padding: 8px;
}

.front-grey {
  display: flex;
  background-color: #cfd8dc;
  padding:8px;
}

/* Style the back side */
.back-grey {
  background-color:#455a64;
  transform: rotateY(180deg);
  padding: 8px;
  color: white;
}

.front-blue {
  display: flex;
  background-color: #0097a7;
  padding:8px;
  color: white;
}

/* Style the back side */
.back-blue {
  background-color: #b2ebf2;
  transform: rotateY(180deg);
  padding: 8px;

}
