.pageHeight {
  min-height: 100vh;
  width: 100vw;
  /* margin-top: 55px; */
  /* overflow: hidden; */
  /* display: block; */
  /* position: relative; */
}

.section {
  padding: 40px 90px 80px 90px;
  margin: 0 90px;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 40px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.nav-item > .active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

.logoStyles {
  font-family: Comfortaa;
  /* color: #4db6ac; */
  color: #84ffff;
  /* color: #80deea; */
  /* color: #F5B895; */
  font-size: 150%;
  font-weight: 700;
}

.logoStyles:hover {
    cursor: pointer;
}

.footerIcons:hover {
  transform: translateY(-2px);
}

a.fb-ic {
  margin: 0 !important;
  padding: 0 !important;
}


