.pageHeight {
  width: 100vw;
}

.section {
  padding: 40px 90px;
  margin: 40px 90px;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 40px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.nav-item > .active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

.logoStyles {
  font-family: Comfortaa;
  /* color: #4db6ac; */
  /* color: #84ffff; */
  color: #8bb174 ;
  /* color: #80deea; */
  /* color: #F5B895; */
  font-size: 150%;
  font-weight: 700;
}

.logoStyles:hover {
    cursor: pointer;
}

.clickMe:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.boxShadow {
  background: #e0f7fa;
  -moz-box-shadow: 0 0 0 10px #dfdfdf;
  -webkit-box-shadow: 0 0 0 10px #dfdfdf;
  box-shadow: 0px 0px 15px #dfdfdf;
}

p {
  font-size: 20px;
}

.buttonColors {
  text-align: center;
  color: #1c2331;
}

.buttonColors:hover {
  transform: translateY(-3px);
  cursor: pointer;
}